body {
    font-family: Arial, sans-serif;
    background-color: #262626;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    text-align: center;
}

.completed {
    text-decoration: line-through;
    color: #d22a2a;
}


#taskForm {
    margin-bottom: 20px;
}

#taskInput {
    width: calc(100% - 100px);
    padding: 8px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    text-align: center;
}

#taskInput:focus {
    outline: none;
}

button {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    background-color: #1abc9c;
    color: #fff;
    cursor: pointer;
    margin-top: 4px;
}

button:hover {
    background-color: #16a085;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
    padding: 8px;
    background-color: #ecf0f1;
    border-radius: 5px;
    color: #3a345e;
}

footer {
    color: black;
    padding: 12px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer a {
    color: black;
}

.container img {
    height: 25px;
    margin-top: 4px;
}
